<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Escanear01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>Escanear02.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>Escanear03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>Escanear04.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Escanear_sheet.png</string>
            <key>size</key>
            <string>{216,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4e860a64d5b73917c87227b66900806:7ad2dac43b23b0f71908cb525b43419e:4ad62d4907abeba6efd41431c1118c89$</string>
            <key>textureFileName</key>
            <string>Escanear_sheet.png</string>
        </dict>
    </dict>
</plist>
