<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VirusCuernos01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>VirusCuernos02.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VirusCuernos_sheet.png</string>
            <key>size</key>
            <string>{108,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d737bb4a41d5e801b5ec346a14345903:5220cb32a0725f75e363d01e77d12d43:236245d70f2df96a52b88ff616d6e130$</string>
            <key>textureFileName</key>
            <string>VirusCuernos_sheet.png</string>
        </dict>
    </dict>
</plist>
