<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VirusCuernos01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>VirusCuernos02.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VirusCuernos_sheet.png</string>
            <key>size</key>
            <string>{68,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:331204a9bb8c8fbb2ddf09bd77c8a230:acf2ec7241f133932e2f83145178f629:236245d70f2df96a52b88ff616d6e130$</string>
            <key>textureFileName</key>
            <string>VirusCuernos_sheet.png</string>
        </dict>
    </dict>
</plist>
