<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Virus01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>Virus02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Virus_sheet.png</string>
            <key>size</key>
            <string>{66,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4eb0c60292917b58499009a34637a30:f431a2fd334bac29ea5cf69927e33881:94d1ad7e30f9e62d3a8033dfdd2c2608$</string>
            <key>textureFileName</key>
            <string>Virus_sheet.png</string>
        </dict>
    </dict>
</plist>
