<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VirusCuernos01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>VirusCuernos02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VirusCuernos_sheet.png</string>
            <key>size</key>
            <string>{94,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cce5cb7600423f49867769b313e8d38:0de7042f8ffb6d65767b0f30ba0c36f8:236245d70f2df96a52b88ff616d6e130$</string>
            <key>textureFileName</key>
            <string>VirusCuernos_sheet.png</string>
        </dict>
    </dict>
</plist>
